{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
    body {
        background-color: #825a5a;

    }

    .jumbotron {
        background-color: #825a5a;

        text-align: center; 
    }

    .custom-border {
        background-color: #d3c0c0;

        border: 1px solid #d3b6b6;

        border-radius: 1.2rem;

        padding: 2rem;
        max-width: 800px;
        margin: 0 auto;
    }
</style>

<div class="jumbotron">
    <div class="custom-border">
        <h1 class="display-2">Bem-vindo à Pastelaria Do zé</h1>
        <p class="lead">O melho pastel que você vai comer nessa cidade</p>
        <hr class="my-4">
        <p>Experimente os nossos sabores únicos</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('cliente.formCliente') }}" role="button">Faça seu
            Cadastro</a>
    </div>
</div>
{% endblock %}